<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chart.muke.com.mukechart">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MukeApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/ActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".basicchart.BarChartActivity"
            />
        <activity android:name=".basicchart.CurveChartActivity"/>

        <activity android:name=".basicchart.LineChartActivity"/>

        <activity android:name=".basicchart.KChartActivity"/>

        <activity android:name=".basicchart.PieChartActivity"/>

        <activity android:name=".basicchart.RadarChartActivity"/>

        <activity android:name=".basicgraph.SimpleGraphActivity"/>
        <activity android:name=".basicgraph.SimpleColumnActivity"/>
        <activity android:name=".basicgraph.SimpleCurveActivity"/>
        <activity android:name=".actualchart.moji.MojiAppActivity"/>
        <activity android:name=".actualchart.tonghuashun.TonghuashunAppActivity"/>
        <activity android:name=".actualchart.AlipayAppActivity"/>
    </application>

</manifest>